body {
	min-width: 960;
	margin: 0;
	padding: 0;
	background: #222222 url("../img/background.jpg") no-repeat;
	background-position: -22px 60%;
	background-attachment: fixed;
	font-size: 16px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: white;
	font-weight: 700;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin:0 auto;
}

.main-header {
	margin-bottom: 60px;
	color: #ffffff;
	background-color: #000000;
}

.main-navigation {
	width: 780px;
	float: left;
	min-height: 70px;
}

.main-navigation a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 20px;
}

.main-navigation a:hover {
	background-color: #3E0808;
}

.main-navigation ul {
	padding: 0;
	margin:0;
	list-style: none;
	font-size:0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 40px;
}

.user-block {
	max-width: 140px;
	float: right;
	min-height: 70px;
}

.login {
	position: relative;
	line-height: 20px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 25px 35px;
	padding-left: 50px;
}

.login:hover {
	background-color: #201D25;
}

.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url("../img/sprites.png") no-repeat;
	background-position: -1px -210px;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;

}

.index-logo {
	position: relative;	
	margin-bottom: 50px;
	opacity: 0.9;
	margin-left: 30px;
	transition: 
	all 0.3s;
}

.index-logo .logo-slogo {
	position: absolute;
	top: 60px;
	font-size: 25px;
	line-height: 35px;
	margin-left: 30px;
	text-align: center;
}
.index-logo:hover {
	opacity: 1;
	transform: scale(1.02);
}

.features {
	margin-bottom: 50px;
}

.features-item {
	float: left;
	margin-right: 20px;
	width: 300px;
	text-align: center;
	background: #222222 url("../img/footer-background.jpg");
	opacity: 0.8;
	min-height: 350px;
	transition: 
	all 1s;
}
.features-item:hover {
	background-color: #3E0808; 
	transform: scale(1.04);
}

.features-name {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 20px;
	margin-top: 15px;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	background:
		url("../img/column-delimiter.png") no-repeat center,
		#222222 url("../img/content-background.jpg");
	opacity: 0.8;
	transition: 
	opacity 1s;
}
.index-content:hover {
	opacity: 0.9;
}

.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}

.index-content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}

.index-content-title {
	margin:0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.index-content ul {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-bottom: 25px;
	list-style: none;
}

.news-preview p {
	margin-bottom: 0;
}

.btn {
	font-size: 16px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #ffffff;
	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	margin-top: 10px;
	vertical-align: top;
	text-align: center;	
}

.btn:hover,
.btn:active { 
	background-color: #3E0808; 
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover { background-color: #000000; }

.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {
	height: 164px;
	margin: 0;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery-prev {
	left: 0;
}
.gallery-next {
	right: 0;
}

.main-footer {
	margin-top: 65px;
	padding-top: 30px;
	padding-bottom: 40px;
	background: #000000 url("../img/fabric.jpg");
}


.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
	text-align: center;
}

.footer-social a {
	text-decoration: none;
	color: #ffffff;
}
.footer-social p {
	margin:0;
	margin-bottom: 15px;
}
.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	background: #000000 url("../img/sprites.png") no-repeat center;
	font-size: 0;
	transition: 
		background-color 0.5s,
		background-position 0.5s;
}
.social-btn-vk {
	background-position: 8px -825px;
}
.social-btn-vk:hover {
	background-position: 8px -759px;
	background-color: #ffffff;
}

.footer-copyright {
	float: right;
	max-width: 180px;
}
.footer-copyright p {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

.footer-copyright .btn {
	margin-right: 0;
}

.footer-copyright a {
	text-decoration: none;
	color: #ffffff;
}


